
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas &nbsp;S.A  - Login</title>
    <!-- Sweet Alert -->
  <link href="{% static 'base/css/sweetalert/sweetalert.css'%}" rel="stylesheet">

  <style>
      .sweet-alert button {
    background-color: #71a1b7;
    color: black;
    
}
  </style>
  
</head>
<body>
    <script src="{% static 'base/js/jquery.min.js'%}"></script>
    <script src="{% static 'base/js/sweetalert/sweetalert.min.js'%}"></script> 
    <script src="{% static 'base/js/funciones.js'%}"></script> 
  
</body>
</html>